<br />
<table class="insurance_info_table" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td width="20%"  height="20%" colspan="3">Employee Name:<br /></td>
					<td width="15%" >${firstName} ${lastName}<br /></td>
					<td width="15%">No:<br /></td>
					<td width="15%" >${jobNumber}<br /></td>
					<td width="15%">position<br /></td>
					<td width="15%">${departmentName}<br /></td>
				</tr>
			</table>
			<br />
			<table class="insurance_info_table" cellpadding="0" cellspacing="0" width="100%">				
				<tr>
					<td >Date<br /></td>
					<td>Schedule In<br /></td>
					<td>Schedule Out<br /></td>
					<td>Actual In<br /></td>
					<td>Actual Out<br /></td>
					<td>Daily Hours<br /></td>
				</tr>
				#tr#
</table>