<div class="insurance_info">
			<table class="insurance_info_table" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td width="20%"  height="20%" colspan="3">FirstName<br />
					</td>
					<td width="15%" > ${firstName}<br /></td>
					<td width="15%">LastName<br /></td>
					<td width="15%" > ${lastName}<br /></td>
					<td width="15%">MiddleName<br />
					</td>
					<td >${middleName}</td>
				</tr>
				<tr>
					<td width="20%" colspan="3">Correspondence Address<br />
					</td>
					<td width="43%" colspan="3">${physicalAddr}</td>
					<td width="15%"> postal Address<br />
					</td>
					<td >${postalAddr}</td>
				</tr>
			</table>
</div>